body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.toolbar-left {
  width: 30%;
  text-align: left;
}

.toolbar-center {
  width: 40%;
  text-align: center;
}